<!DOCTYPE html>
<html style="background: #000;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<meta name="keywords" content="酵母豬, 熟成, 豬肉, 榮騰農產, 產銷履歷, CAS"/>
<meta name="description" content="堅持採最進步的飼育方式及科學化管理，以天然酵母發酵熟成的優質飼料，飼育出健康、美味又安心的掛川完熟酵母豚，並持續研發創新更多頂級食材，挑戰美味的極致。"/>
<link rel="SHORTCUT ICON" href="/images/favicon2.ico"/>
<link rel="image_src" href="/images/thumb.jpg"/>
<meta property="og:title" content="最新資訊 |日本掛川完熟酵母豬-榮騰農產"/>
<meta property="og:description" content="堅持採最進步的飼育方式及科學化管理，以天然酵母發酵熟成的優質飼料，飼育出健康、美味又安心的掛川完熟酵母豚，並持續研發創新更多頂級食材，挑戰美味的極致。"/>
<meta property="og:site_name" content="日本掛川完熟酵母豬-榮騰農產"/>
<meta property="og:image" content="images/thumb.jpg"/>
<meta property="og:type" content="food"/>
<title>最新資訊 |日本掛川完熟酵母豬-榮騰農產</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "news", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
  $(document).ready(function() {
    $("body").css("display", "none");
    $("body").fadeIn(500);
  });
  </script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39377642-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <div id="wrapper">
  <div id="back-to-top"><a href="#top">↑ TOP</a></div>
    <div id="header" _height="auto">
      <div id="banner">
        <h1><a href="/home">掛川完熟酵母豚</a></h1>
        <ul>
          <li><a href="/about">關於榮騰</a></li>
          <li><a href="/technology">獨家技術</a></li>
          <li><a href="/product">產品介紹</a></li>
          <li><a href="/news">最新資訊</a></li>
          <li><a href="/link">友站連結</a></li>
          <li><a href="http://www.appluco.com/itemlist.php?id=2532" target="_blank">我要訂購</a></li>
        </ul>
      </div>
      <!--banner-->

     <div id="footer">
        
      <div id="social"> 
          <a href="http://www.facebook.com/longtermyeast" target="_blank">
            <img src="/images/fb.png"/>
          </a>
        </div>
      <div id="sn">累積來訪：<span><%= @count.count %></span></div><br>

        <div id="info"> <strong>榮騰農產股份有限公司</strong><br />
          <span>Long Term Yeast Co., Ltd.</span></strong><br />
          台北市衡陽路108號3樓之7<br />
        TEL：02-2382-0966<br />
        FAX：02-2382-0977
        </div>
      </div>
      <!--footer-->
    </div>
    <!--header-->

    
<div id="container" _height="auto">
    <div id="top">
      <h2>最新資訊</h2>      
    </div>
    <!--top-->
    <div id="content"  _height="auto">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @news.each do |news| %>
      <% if(news.frontshow) %>
      <tr>
        <td width="20%" class="date"><%= news.created_at.strftime("%Y-%m-%d") %></td>
        <td width="80%"><%= link_to news.name, news %></td>
      </tr>
      <% end %>
      <% end %>
    </table>
    <%= paginate @news, :theme => 'front' %>


    </div>
    <!--content--> 
    
  </div>
  <!--container--> 

<script type="text/javascript">
$("#banner ul li").eq(3).addClass("select");
</script>

</div>
<!--wrapper-->
</body>
</html>